@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
}
.main-color {
    color: #000060;
}
.main-back-color {
    background-color: #000060;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.l-space-2 {
    letter-spacing: 0.1em;
}
.l-height-15 {
    line-height: 1.5;
}
.mt-1 {
    margin-top: 4px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-3 {
    margin-top: 12px;
}
.mt-4 {
    margin-top: 16px;
}
.mt-5 {
    margin-top: 20px;
}
