@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    /* ============================================================
        TOPページ
    ===============================================================*/
    .dis-phone-tab {
        display: none!important;
    }
    .dis-pc {
        display: block!important;
    }
    .top-header-pc {
        height: 80px;
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        margin: 0 15vw;
    }
    .top-header-title-pc {
        display: block;
        color: #fff;
        font-size: 28px;
    }
    .top-header-title {
        display: block;
        text-align: center;
        padding-top: 20px;
        color: #fff;
        font-size: 22px;
    }
    .top-header-text1 {
        display: block;
        padding-top: 25vh;
        padding-left: 50px;
        color: #fff;
        font-size: 37px;
    }
    .top-header-text2 {
        display: block;
        padding-top: 60px;
        padding-left: 100px;
        color: #fff;
        font-size: 30px;
    }
    .top-header-menu-pc {
        color: #fff;
    }
    .top-header-menu-list-pc {
        display: flex;
    }
    .top-header-menu-list-pc li{
        margin-left: 28px;
    }
    .top-header-menu-list-pc li a{
        padding: 7px 0;
    }

    /* ============================================================
        header
    ===============================================================*/
    .header-pc {
        width: 100vw;
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        margin: 0 15vw;
    }
    .header-title-pc {
        display: block;
        color: #fff;
        font-size: 28px;
    }
    .header-menu-pc {
        color: #fff;
    }
    .header-menu-list-pc {
        display: flex;
    }
    .header-menu-list-pc li{
        margin-left: 28px;
    }
    .header-menu-list-pc li a{
        padding: 7px 0;
    }

    /* ============================================================
        footer
    ===============================================================*/
    .footer {
        padding:30px 5vw;
    }
    .footer-menu {
        display: flex;
        gap: 30px;
    }

    /* ============================================================
    各セクション
    ===============================================================*/
    .section {
        width: 50vw;
        margin: 30px auto;
    }
    .section-title {
        font-size: 20px;
    }

    /* ============================================================
        company
    ===============================================================*/
    .company-table {
        display: flex;
        border-bottom: 1px solid #000066;
        margin-bottom: 10px;
    }

    .company-label {
        margin-bottom: 10px;
        width: 150px;   
    }

    /* ============================================================
        content
    ===============================================================*/
    .content-table {
        margin-bottom: 30px;
        display: flex;
        gap: 30px;
    }
    .content-img img {
        width: 300px;
    }

    /* ============================================================
        freelance
    ===============================================================*/
    .freelance-form {
        padding: 20px;
    }
    .freelance-table {
        display: flex;
        margin-bottom: 30px;
    }
    .freelance-label {
        padding-top: 10px;
        width: 200px;   
    }

    /* ============================================================
        news
    ===============================================================*/
    .news-table {
        margin-bottom: 30px;
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    .news-table {
        margin-bottom: 30px;
    }
    .news-img img {
        width: 300px;
    }

    /* ============================================================
        recruit
    ===============================================================*/
    .recruit-form {
        padding: 20px;
    }
    .recruit-table {
        display: flex;
        margin-bottom: 30px;
    }
    .recruit-label {
        padding-top: 10px;
        width: 200px;   
    }

    /* ============================================================
        contact
    ===============================================================*/
    .contact-form {
        padding: 20px;
    }
    .contact-table {
        display: flex;
        margin-bottom: 30px;
    }
    .contact-label {
        padding-top: 10px;
        width: 200px;   
    }

}
