@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    /* ============================================================
        TOPページ
    ===============================================================*/
    .dis-phone-tab {
        display: block!important;
    }
    .dis-pc {
        display: none!important;
    }
    .top-header-title {
        display: block;
        text-align: center;
        padding-top: 17px;
        color: #fff;
        font-size: 22px;
    }
    .top-header-text1 {
        display: block;
        text-align: center;
        padding-top: 200px;
        color: #fff;
        font-size: 26px;
    }
    .top-header-text2 {
        display: block;
        text-align: center;
        padding-top: 30px;
        color: #fff;
        font-size: 20px;
    }

    /* ============================================================ 
        スライドメニュー
    ===============================================================*/
    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        width: 80vw;
        transform: translateX(-80vw);
        transition: transform 250ms ease-in-out;
        background-color: #000066;
        z-index: 10;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 20px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
        margin-left: 80vw;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
        margin-left: 80vw;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
        margin-left: 80vw;
    }

    /* ============================================================
        footer
    ===============================================================*/
    .footer {
        padding:30px 0;
    }
    /* ============================================================
        各セクション
    ===============================================================*/
    .section {
        width: 90vw;
        margin: 30px auto;
    }
    .section-title {
        font-size: 20px;
    }
    /* ============================================================
        company
    ===============================================================*/
    .company-table {
        border-bottom: 1px solid #191970;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .company-label {
        margin-bottom: 10px;
    }
    .company-text {
        margin-left: 20px;
    }

    /* ============================================================
        content
    ===============================================================*/
    .content-table {
        margin-bottom: 30px;
    }
    .content-img img {
        width: 100%;
    }

    /* ============================================================
        freelance
    ===============================================================*/
    .freelance-form {
        padding: 20px;
    }
    .freelance-table {
        margin-bottom: 30px;
    }
    .freelance-label {
        margin-bottom: 5px;
    }

    /* ============================================================
        news
    ===============================================================*/
    .news-table {
        margin-bottom: 30px;
    }
    .news-img img {
        width: 100%;
    }

    /* ============================================================
        recruit
    ===============================================================*/
    .recruit-form {
        padding: 20px;
    }
    .recruit-table {
        margin-bottom: 30px;
    }
    .recruit-label {
        margin-bottom: 5px;
    }

    /* ============================================================
        contact
    ===============================================================*/
    .contact-form {
        padding: 20px;
    }
    .contact-table {
        margin-bottom: 30px;
    }
    .contact-label {
        margin-bottom: 5px;
    }
}