@media screen and (min-width: 481px) and (max-width:959px) {
	/* 481px以上に適用されるCSS（タブレット用） */
    /* ============================================================
        TOPページ
    ===============================================================*/
    .dis-phone-tab {
        display: block!important;
    }
    .dis-pc {
        display: none!important;
    }
    .top-header-title {
        display: block;
        text-align: center;
        padding-top: 20px;
        color: #fff;
        font-size: 24px;
    }
    .top-header-text1 {
        display: block;
        padding-top: 25vh;
        padding-left: 50px;
        color: #fff;
        font-size: 37px;
    }
    .top-header-text2 {
        display: block;
        padding-top: 60px;
        padding-left: 100px;
        color: #fff;
        font-size: 30px;
    }

    /* ============================================================ 
        スライドメニュー
    ===============================================================*/
    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        width: 70vw;
        transform: translateX(-70vw);
        transition: transform 250ms ease-in-out;
        background-color: #000066;
        z-index: 10;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 25px;
        left: 25px;
        height: 22px;
        width: 22px;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
        margin-left: 69vw;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
        margin-left: 69vw;
    }
    #openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
        margin-left: 69vw;
    }
    
    /* ============================================================
        footer
    ===============================================================*/
    .footer {
        padding:30px 5vw;
    }
    .footer-menu {
        display: flex;
        gap: 30px;
    }

    /* ============================================================
    各セクション
    ===============================================================*/
    .section {
        width: 60vw;
        margin: 30px auto;
    }
    .section-title {
        font-size: 20px;
    }

    /* ============================================================
        company
    ===============================================================*/
    .company-table {
        display: flex;
        border-bottom: 1px solid #191970;
        margin-bottom: 10px;
    }

    .company-label {
        margin-bottom: 10px;
        width: 150px;   
    }
    /* ============================================================
        content
    ===============================================================*/
    .content-table {
        margin-bottom: 30px;
        display: flex;
        gap: 30px;
    }
    .content-img img {
        width: 200px;
    }

    .achievement-title {
        font-size: 20px;
    }
    /* ============================================================
        freelance
    ===============================================================*/
    .freelance-form {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
    }
    .freelance-table {
        margin-bottom: 30px;
    }
    .freelance-label {
        margin-bottom: 5px;
    }

    /* ============================================================
        news
    ===============================================================*/
    .news-table {
        margin-bottom: 30px;
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    .news-table {
        margin-bottom: 30px;
    }
    .news-img img {
        width: 200px;
    }

    /* ============================================================
        recruit
    ===============================================================*/
    .recruit-form {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
    }
    .recruit-table {
        margin-bottom: 30px;
    }
    .recruit-label {
        margin-bottom: 5px;
    }

    /* ============================================================
        contact
    ===============================================================*/
    .contact-form {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
    }
    .contact-table {
        margin-bottom: 30px;
    }
    .contact-label {
        margin-bottom: 5px;
    }
}
